:root {
  font: 16px / 1 sans-serif;
  font-family: 'Share Tech Mono', monospace;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

main {
  background-image: url('./images/minesweeperbackground1.jpg');
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

h1 {
  text-align: center;
  color: #d4dee2;
  background-color: #3b5a7e;
  padding: 1rem;
  border: solid 0.2rem silver;
  border-radius: 0.5rem;
}

h3 {
  font-size: 3rem;
}

.difficulty {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
}

table {
  border-spacing: 0.01rem;
  background-color: #3b5a7e;
  padding: 1rem;
  border: solid 0.2rem silver;
  border-radius: 0.2rem;
  width: auto;
}

.hidden-cell {
  background-color: rgb(141, 141, 141);
  padding: 0.8rem;
  border-right: solid black 0.5rem;
  border-bottom: solid black 0.5rem;
  border-top: solid grey 0.5rem;
  border-left: solid grey 0.5rem;
  width: auto;
}

.revealed-cell-bomb {
  background-color: rgb(110, 29, 29);
  padding: 0.8rem;
  border-right: solid black 0.5rem;
  border-bottom: solid black 0.5rem;
  border-top: solid grey 0.5rem;
  border-left: solid grey 0.5rem;
  width: auto;
}
.revealed-cell {
  background-color: white;
  padding: 0.8rem;
  border-right: solid black 0.5rem;
  border-bottom: solid black 0.5rem;
  border-top: solid grey 0.5rem;
  border-left: solid grey 0.5rem;
  width: auto;
}

.one-cell {
  color: blue;
  background-color: white;
  padding: 0.8rem;
  border-right: solid black 0.5rem;
  border-bottom: solid black 0.5rem;
  border-top: solid grey 0.5rem;
  border-left: solid grey 0.5rem;
  width: auto;
}

.two-cell {
  color: green;
  background-color: white;
  padding: 0.8rem;
  border-right: solid black 0.5rem;
  border-bottom: solid black 0.5rem;
  border-top: solid grey 0.5rem;
  border-left: solid grey 0.5rem;
  width: auto;
}

.three-cell {
  color: red;
  background-color: white;
  padding: 0.8rem;
  border-right: solid black 0.5rem;
  border-bottom: solid black 0.5rem;
  border-top: solid grey 0.5rem;
  border-left: solid grey 0.5rem;
  width: auto;
}

.four-cell {
  color: purple;
  background-color: white;
  padding: 0.8rem;
  border-right: solid black 0.5rem;
  border-bottom: solid black 0.5rem;
  border-top: solid grey 0.5rem;
  border-left: solid grey 0.5rem;
  width: auto;
}

.five-cell {
  color: orange;
  background-color: white;
  padding: 0.8rem;
  border-right: solid black 0.5rem;
  border-bottom: solid black 0.5rem;
  border-top: solid grey 0.5rem;
  border-left: solid grey 0.5rem;
  width: auto;
}

.reset {
  width: 5%;
  margin: 1rem;
  padding: 0rem -6rem 0rem -6rem;
  border-radius: 1rem;
  text-align: center;
}
